 html {
   background-color: #C5AAF5;
   margin: 0 auto;
   padding: 0px;
 }
 body {
   width: 100%;
   margin: 0 auto;
   background-color: #C0C0C0;
 }
 .contenedor {
   overflow: hidden;
 }
 .menu-navegacion {
   background-color: #F5F5F5;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
 }

 .menu-navegacion ul {
   list-style-type: none;
   background-color: #D3D3D3;
   text-align: center;
 }
 .menu-navegacion ul li {
   display: inline-block;
   border: 1px solid #000;
   padding: 5px;
   background-color: #FFFAFA;
   color: #000000
 }
 .menu-navegacion ul li a {
   text-decoration: none;
 }
 .cuerpo-principal {
   background-color: #423C40;
   color: #FFFFFF;
   width: 960px;
   margin: 100px auto 0px auto;
   overflow: hidden;
 }
 .pie {
   background-color: #800000;
   text-align: center;
   overflow: hidden;
   height: 15px;
 }
 .scroll {
	margin: 30px;
     width:900px;
     height:400px;
     overflow:scroll;
}

h2{
  color: rgba(214, 198, 109, 0.87);

}
p{
  color: beige;
  text-align: justify;
}

.ini{
  margin-left: 500px;
  text-align: left;
  color: beige;
}

.Lcapital{
  font-size:  50px;
  
}

.imagen{
  height: 300px;
  width: 600px;
}